<div class="container">
  <h3 class="text-center"><%= dashboard_logotype %></h3>
  <h3 class="text-center"><%= dashboard_title %></h3>
  <p><%= dashboard_text_1 %></p>
  <p><%= dashboard_text_2 %></p>
  <p><%= dashboard_text_3 %></p>
</div>