<div class="container form-style-background">
  <h2 class="text-center"><%= dashboard_logotype %></h2>
  <div class="row">
    <div class="col-12">
      <h3 class="text-center"><%= dashboard_title_text_1 %></h3>
        <p class="lead">
          <iframe width="400px" height="375px" class="img-style float-right"
          src="https://www.youtube.com/embed/2BOwSOU150g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <%= dashboard_text_1 %>
      </p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-12">
      <h3 class="text-center"><%= dashboard_title_text_2 %></h3>
      <p class="lead">
        <%= image_tag("2.gif", class: "img-style float-left", style: "width: 200px; height: 200px" ) %>
        <iframe id="_mcf" class="iframe-1-style float-right" width="550" height="502" frameborder="0" scrolling="no" style="border:1px solid #000000;" src="http://www.imooncal.com/cs/cal.php?c=12656387572279401&amp;x=&amp;tz=2&amp;hs=&amp;bgp=&amp;oa=on&amp;s=&amp;m=&amp;y=&amp;rp="></iframe>
        <%= dashboard_text_2 %>
      </p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-12">
      <h3 class="text-center"><%= dashboard_title_text_3 %></h3>
      <p class="lead">
        <%= dashboard_text_3 %>
      </p>
    </div>
  </div>
</div>


<div class="card-columns">
  <div class="card">
    <%= image_tag("2.gif", class: "card-img-top" ) %>
    <div class="card-body">
      <h5 class="card-title">Название карточки, которое завершает новую строкуНазвание карточки, которое завершает новую строку</h5>
      <p class="card-text">TThis is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longerhis is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
  </div>
  <div class="card">
    <%= image_tag("2.gif", class: "card-img-top" ) %>
    <div class="card-body">
      <h5 class="card-title">Название карточки, которое завершает новую строкуНазвание карточки, которое завершает новую строку</h5>
      <p class="card-text">TThis is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longerhis is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
  </div>
  <div class="card">
    <%= image_tag("2.gif", class: "card-img-top" ) %>
    <div class="card-body">
      <h5 class="card-title">Название карточки, которое завершает новую строку</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
  </div>
  <div class="card">
    <%= image_tag("2.gif", class: "card-img-top" ) %>
    <div class="card-body">
      <h5 class="card-title">Название карточки, которое завершает новую строку</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
  </div>
  <div class="card">
    <%= image_tag("2.gif", class: "card-img-top" ) %>
    <div class="card-body">
      <h5 class="card-title">Название карточки, которое завершает новую строкуНазвание карточки, которое завершает новую строку</h5>
      <p class="card-text">TThis is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longerhis is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
  </div>
  <div class="card">
    <%= image_tag("2.gif", class: "card-img-top" ) %>
    <div class="card-body">
      <h5 class="card-title">Название карточки, которое завершает новую строкуНазвание карточки, которое завершает новую строку</h5>
      <p class="card-text">TThis is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longerhis is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
  </div>
</div>