<div class="container form-style-background">
  <div class="row">
    <div class="col-12">
      <h3 class="text-center">Усі створенні статті</h3>
      <%= link_to 'Створити нову статью', new_admins_post_path, class: "btn btn-outline-info btn-lg" %>
      <hr>
      <div class="card-columns">
        <% @posts_admin.each do |post| %>
          <div class="card card-style">
            <div class="card-body">
              <%= image_tag(post.image_url(:mini_image).to_s, class: "card-img-top") if post.image? %>
              <h4 class="text-center"><%= post.title %></h4>
              <p class="card-text lead"><%= post.summary %></p>
              <% if admin_signed_in? %>
                <%= link_to 'Переглянути', admins_post_path(post), class: "btn btn-outline-light btn-block" %>
                <%= link_to 'Редагувати', edit_admins_post_path(post), 
                  class: "btn btn-outline-success btn-block" %>
                <%= link_to 'Видалити', admins_post_path(post), 
                  class: "btn btn-outline-danger btn-block", method: :delete,
                  data: { confirm: 'Ви впевнені?' } %>
              <% end %> 
            </div>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>