<div class="container">
  <div class="row">
    <div class="col-12">
      <h3 class="text-center">Каталог фільмів</h3>
      <% if admin_signed_in? || user_signed_in? %>
        <%= link_to 'Завантажити новий фільм', new_film_path, class: "btn btn-outline-info btn-lg" %>
      <% end %> 
      <hr>
      <div class="container">
        <div class="row">
          <% @films.each do |film| %>
            <div class="col-6">
              <h5 class="text-center"><%= film.title %></h5>
              <iframe width="100%" height="300px" class="img-style"
              src=<%= film.url %> frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <%= link_to 'Переглянути', film_path(film), class: "btn btn-outline-light btn-block" %>
                <% if admin_signed_in? || user_signed_in? %>
                  <%= link_to 'Редагувати', edit_film_path(film), 
                    class: "btn btn-outline-success btn-block" %>
                  <%= link_to 'Видалити', film_path(film), 
                    class: "btn btn-outline-danger btn-block", method: :delete,
                    data: { confirm: 'Ви впевнені?' } %>
                <% end %> 
            </div>
          <% end %>
        </div>
      <hr>
      <%= will_paginate @users, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %> 
      </div>

    </div>
  </div>
</div>