<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-8 col-12">
      <div class="card card-style">
        <div class="card-header">
          <h4 class="text-center card-title">Увійти на сторінку адміністратора</h4>
        </div>
        <div class="card-body">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-group">
              <%= f.label 'Електронна_адреса' %>
              <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label 'Пароль' %>
              <%= f.password_field :password, autocomplete: 'current-password', class: 'form-control' %>
            </div>
            <hr>
            <%= f.submit "Увійти до системи", class: "btn btn-primary btn-block" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
