<div class="container">
  <div class="row">
    <div class="col-12">

      <div class="container message-style">
        <h3 class="text-center">Переписка з адміністратором сайту</h3>
        <% if @messages.blank?  %>
          <h4 class="text-center text-danger">
            У вас в переписці з адміністратором немає жодного повідомлення
          </h4>

        <% else %>
          <% @messages.each do |message| %>

            <% if !message.admin %>
              <div class="row">
                <div class="col-10">
                    <strong><%= message.user.first_name%> <%= message.user.last_name%></strong><br>
                    <%= message.message %>
                </div>
                <div class="col-2">
                  <%= link_to 'Видалити повідомлення', users_dashboard_path(message), method: :delete,data: { confirm: 'Ви впевнені?' } %>
                </div>
              </div>
              <hr>
            <% elsif %>
              <div class="row text-info">
                <div class="col-10">
                    <strong>Адміністратратор</strong><br>
                    <%= message.message %>
                </div>
                <div class="col-2">
                </div>
              </div>
              <hr>
            <% end %>

          <% end %> 
        <% end %>
      </div>

    <%= form_with(model: @message, url: users_dashboards_path, local: true) do |form| %>

      <%= render 'layouts/error_messages', object: @message %>

      <div class="form-group">
        <%= form.label 'Відправити повідомлення адміністратору', class: "lead text-info" %>
        <%= form.text_area :message, class: "form-control", rows: "3" %>
      </div>

      <div class="form-group">      
        <%= form.submit 'Відправити повідомлення Адміністратору', class: "btn btn-info btn-block btn-lg" %>
      </div>
      
    <% end %>
    </div>
  </div>
</div>