<!DOCTYPE html>
<html>
  <head>
    <title><%= dashboard_logotype %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= render 'layouts/headers/header_user' %>
    <% elsif admin_signed_in? %>
      <%= render 'layouts/headers/header_admin' %>
    <% else %>
      <%= render 'layouts/headers/header' %>
    <% end %>
    <div class="container">
      <div class="form-style-background">
      <%= render 'layouts/devise_messages' %>
      <%= yield %>
      </div>
    </div>
  </body>
</html>
