<!DOCTYPE html>
<html>
  <head>
    <title>Forum</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <ul class="nav navbar-nav pull-right">
        <li class="active">
          <% if user_signed_in? %>
            <%= link_to 'Update user param', edit_user_registration_path, class: "btn btn-outline-light" %>
            <%= link_to 'Exit', destroy_user_session_path, class: "btn btn-outline-light", :method => :delete %>
          <% elsif admin_signed_in? %>
            <%= link_to 'Update admin param', edit_admin_registration_path, class: "btn btn-outline-light" %>
            <%= link_to 'Exit', destroy_admin_session_path, class: "btn btn-outline-light", :method => :delete %>
          <% else %>
            <%= link_to 'SIGN IN / SIGN UP', new_user_session_path, class: "btn btn-outline-light" %>
          <% end %>
        </li>
      </ul> 
   <p class="notice"><%= notice %></p>
   <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
