<div class="container">
  <h3 class="text-center">Редагувати дані на головній сторінці</h3>

  <%= form_with(model: @dashboard, url: admins_dashboards_url  ,local: true) do |form| %>
    
    <%= render 'layouts/error_messages', object: @dashboard %>
    
    <div class="form-group">
      <%= form.label 'Назва логотипу', class: "lead text-info" %>
      <%= form.text_field :logotype, class: "form-control"  %>
    </div>

    <div class="form-group">
      <%= form.label 'Титульна назава головної сторінки', class: "lead text-info" %>
      <%= form.text_field :title, class: "form-control"  %>
    </div>

    <div class="row">
      <div class="col-4">
        <div class="form-group">
          <%= form.label 'Фільм на головній сторінкі 1', class: "lead text-info" %>
          <%= form.collection_select :url_1, @films, :url, :title, { include_blank: true }, class: "form-control" %>
          <hr>
          <% if !dashboard_url_1.blank? %>
            <iframe width="100%" height="300px" class="img-style"
            src=<%= dashboard_url_1 %> frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <% end %>
        </div>
      </div>

      <div class="col-4">
        <div class="form-group">
          <%= form.label 'Фільм на головній сторінкі 2', class: "lead text-info" %>
          <%= form.collection_select :url_2, @films, :url, :title, { include_blank: true }, class: "form-control" %>
          <hr>
          <% if !dashboard_url_2.blank? %>
            <iframe width="100%" height="300px" class="img-style"
            src=<%= dashboard_url_2 %> frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <% end %>
        </div>
      </div>

      <div class="col-4">
        <div class="form-group">
          <%= form.label 'Фільм на головній сторінкі 3', class: "lead text-info" %>
          <%= form.collection_select :url_3, @films, :url, :title, { include_blank: true }, class: "form-control" %>
          <hr>
          <% if !dashboard_url_3.blank? %>
            <iframe width="100%" height="300px" class="img-style"
            src=<%= dashboard_url_3 %> frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <% end %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= form.label 'Титульна назава текстового розділу 1', class: "lead text-info" %>
      <%= form.text_field :title_text_1, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label "Текстовк поле(#{@dashboard.title_text_1})", class: "lead text-info"  %>
      <%= form.text_area :text_1, class: "form-control", rows: "5" %>
    </div>

    <div class="form-group">
      <%= form.label 'Титульна назава текстового розділу 2', class: "lead text-info" %>
      <%= form.text_field :title_text_2, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label "Текстовк поле(#{@dashboard.title_text_2})", class: "lead text-info"   %>
      <%= form.text_area :text_2, class: "form-control", rows: "5" %>
    </div>

    <div class="form-group">
      <%= form.label 'Титульна назава текстового розділ 3', class: "lead text-info" %>
      <%= form.text_field :title_text_3, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label "Текстове поле(#{@dashboard.title_text_3})", class: "lead text-info"   %>
      <%= form.text_area :text_3, class: "form-control", rows: "5" %>
    </div>

    <%= form.submit 'Зберегти', class: "btn btn-info btn-block btn-lg" %>
    <br>
  <% end %>
</div>